body {margin: 0;padding:0;font-family: 'Montserrat', Arial, Helvetica, sans-serif;}

.counter {
     text-align: center;
}

.counter h2 {
     font-size: 45px
}

table {
     margin: auto;
}

table tr th {
     font-weight: bold;
     font-size: 40px;
     padding: 20px;
     padding-bottom: 0;
}
