:root {
  --bg-color: #f1f5f8;
  --header-color: #d23669;
  --primary-color: #333333;
  --transition: 0.5s;
  --icon-color: #333333;
}

.dark-theme {
  --primary-color: #f1f5f8;
  --bg-color: #333333;
  --header-color: #e45786;
  --icon-color: yellow;
}

body {
  background: var(--bg-color);
  transition: var(--transition);
}

.article-card {
  margin-top: 30px;
}

.article-info {
  color: var(--primary-color);
  margin-top: -7px;
  margin-bottom: 10px;
}

.article-info span {
  padding-right: 20px;
  font-style: italic;
  font-size: 14px;
}

.article-header {
  color: var(--header-color);
  text-transform: capitalize;
}

.theme-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px 0;
}

.container {
  width: 800px;
}

.theme-icon {
  font-size: 25px;
  cursor: pointer;
  color: var(--icon-color);
}

.snippet,
.theme-toggle h2 {
  color: var(--primary-color);
}

@media only screen and (max-width: 720px) {
  .container {
    width: 100%;
  }
}
